.footer_form-wrapp{
    width: 100%;
    margin: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer_form{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.form_textarea{
    width: calc(100% - 80px);
    resize: vertical;
    border: none;
    border-radius: 15px;
    padding: 15px;
    outline:none;
    background-color: rgb(120, 120, 120);
    color: #ffffff;
}
.form_textarea::placeholder{
    color: #ffffff;
    font-size: 16px;
}
.scroll_bar::-webkit-resizer{
   display: none;
}

.scroll_bar::-webkit-scrollbar {
    width: 10px;
}
  
.scroll_bar::-webkit-scrollbar-track {
    display: none;
}
  
.scroll_bar::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50px;
}

.form_button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    border: none; 
    outline: none;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background: rgba(78, 99, 201, 0.9);
}
.form_button>svg{
    width: 1.1rem;
    height: 1.1rem;
}