* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --border-color: none;
    --background-color: #4a4a4a;
    --transition: all 0.2s ease;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {

    select:focus,
    textarea:focus,
    input:focus {
        font-size: 16px;
    }
}

.chat_wrapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #1E1F23;
    width: 100%;
}

.chat_header {
    min-height: 70px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 3px solid #393939;

}

.burger {
    display: none;
    cursor: pointer;
}

.user_list-header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-right: 3px solid #393939;
    width: 30%;
    padding: 0 15px;
}

.user_list-header-nav>div>span {
    color: #ccc;
    margin: 0 30px;
    font-weight: 700;
}

.user_list-header-nav>div>svg {
    color: #ccc;
}

.user_list-header-nav>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.chat_header-expert-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.chat_header-expert-name>div {
    background-color: #2f2f2f;
    padding: 10px;
    border-radius: 15px;
    color: #ccc;
    font-weight: 700;
    margin-left: 30px;
}

@media (max-width: 962px) {
    .chat_header {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
        padding: 0 15px;
    }

    .burger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .user_list-header-nav {
        display: none;
    }
}

.chat_window-wrapp {
    height: calc((var(--vh, 1vh) * 100) - 70px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/* @media (max-width: 962px) {
    .chat_window-wrapp {
        padding: 15px;
    }
} */

.user_list-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 3px solid #393939;
    padding: 15px;
    display: none;
}

.user_list-header>div>span {
    color: #ccc;
    margin-left: 30px;
    font-weight: 700;
}

.user_list-header>div>svg {
    color: #ccc;
}

.user_list-header>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.chat_user_list-wrap {
    width: 30%;
    border-right: 3px solid #393939;
   
}

.chat_user_list {
    overflow-y: scroll;   
    height: calc(100% - 73px);
    display: flex;
    justify-content: start;
}

.chat_user-close-modal {
    width: 95vw;
    position: absolute;
    height: 100vh;
    inset: 0;
    z-index: 10;
    display: none;
}

.user_list-onBack {
    display: none;
}

.user_list-onBack>svg {
    width: 40px;
    height: 40px;
    display: none;
}

@media (max-width: 962px) {
    .chat_user_list-wrap {
        top: 0;
        left: 0;
        height: calc(var(--vh, 1vh) * 100);
        position: absolute;
        width: 19rem;
        border-radius: 0;
        z-index: 777;
        -webkit-transform: translateX(-20rem);
            -ms-transform: translateX(-20rem);
                transform: translateX(-20rem);
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;

    }

    .user_list-onBack {
        display: block;

    }
    .user_list-onBack>svg {
        display: block;
        cursor: pointer;
    }

    .user_list-onBack>img {
        width: 25px;
        height: 45px;
        rotate: 180deg;
        cursor: pointer;
    }

    .user_list-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

.active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #1E1F23;
}

.chat_message-window {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 5px;
    margin-bottom: 5px;
    overflow-y: scroll;
    padding: 0 10px 0 15px;
}

@media (max-width: 962px) {
    .chat_message-window {
        padding: 0 10px 20px 15px;
    }
}

.chat_view_window {
    width: calc(100% - 30%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    background-image: url(../img/photo_2024-06-10_22-18-22.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 962px) {
    .chat_view_window {
        width: 100%;
    }
}

.footer {
    min-height: 100px;
    margin: 0 15px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 30px;
    background-color: rgb(120, 120, 120);
}

.test_box {
    background-color: #393939;
    border: 1px solid rgb(255, 255, 255, 0);
    width: 50%;
}

.contact {
    margin: 5px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.text_box-wrapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px;
}

.message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    border-radius: 15px;
    word-break: normal;
    color: #ffffff;
    /* box-shadow: -1px 12px 9px -1px rgba(47, 47, 47, 0.75);
    -webkit-box-shadow: -1px 12px 9px -1px rgba(47, 47, 47, 0.75);
    -moz-box-shadow: -1px 12px 9px -1px rgba(47, 47, 47, 0.75); */
}

.my_message {
    margin-left: 50%;
    margin-bottom: 30px;
}

.my_message:empty {
    display: none;
}

.other_message {
    opacity: 0;
    visibility: hidden;
    margin-bottom: 30px;
    position: relative;
}

@media (max-width: 962px) {
    .my_message {
        margin: 0 0 5px;
        background-color: #838383;
    }

    .message {
        width: 100%;
    }

    .other_message {
        margin: 0 0 5px;
    }
}

.btn {
    cursor: pointer;
}

.loader-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    background: #1E1F23;
  }
  
  .loader {
    width: 50px;
    height: 50px;
    position: relative;
  }
  
  /* Spinner Animation */
  .spinner {
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #3498db;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  }
  
  

.spinner-text {
    margin-top: 50px;
    color: #ffffff;
    font-size: 20px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.show {
    visibility: visible;
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.show-block {
    opacity: 1 !important;
}

.chat_typing>p {
    color: #ffffff;
}

#expert_block {
    position: fixed;
    left: calc(50% + 50px);
    top: 30%;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    width: 200px;
    height: 200px;
    opacity: 0;
    color: #FFFBFE;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
}

@media (max-width: 962px) {
    #expert_block {
        left: calc(50% - 100px);

    }

}

#expert_block>span {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

#expert_block>span:nth-child(2) {
    color: #4590cd;
}

.burger>svg {
    width: 32px;
    height: 32px;
}

.img_user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
}

.expert_img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.chat_typing {
    margin-left: 15px;
}

.hamburger .line {
    width: 50px;
    height: 2px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover {
    cursor: pointer;
}


.loading-wave {
    width: 50px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    position: absolute
}

@media (max-width: 962px) {
    .loading-wave {
        left: 50px;
        bottom: 115px;
    }
}

.loading-bar {
    width: 5px;
    height: 5px;
    margin: 0 3px;
    background-color: rgba(78, 99, 201, 0.9);
    border-radius: 5px;
    -webkit-animation: loading-wave-animation 1s ease-in-out infinite;
            animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
}

@-webkit-keyframes loading-wave-animation {
    0% {
        height: 5px;
    }

    50% {
        height: 20px;
    }

    100% {
        height: 5px;
    }
}

@keyframes loading-wave-animation {
    0% {
        height: 5px;
    }

    50% {
        height: 20px;
    }

    100% {
        height: 5px;
    }
}

.accordion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    padding: 15px;
}

.accordion .accordion-item {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.accordion .accordion-item .accordion-item-description-wrapper hr {
    border: none;
    border-top: 1px solid var(--border-color);
    visibility: visible;
}

.accordion .accordion-item.open .accordion-item-description-wrapper hr {
    visibility: visible;
}

.accordion .accordion-item .accordion-item-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}

.accordion-item-header>svg {
    color: #fff;
}

.accordion .accordion-item .accordion-item-header .accordion-item-header-title {
    font-weight: 600;
    color: #fff
}

.accordion .accordion-item .accordion-item-header .accordion-item-header-icon {
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.accordion .accordion-item.open .accordion-item-header .accordion-item-header-icon {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
}

.accordion .accordion-item .accordion-item-description-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 0fr;
    grid-template-rows: 0fr;
    overflow: hidden;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.accordion .accordion-item.open .accordion-item-description-wrapper {
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
}

.accordion .accordion-item .accordion-item-description-wrapper .accordion-item-description {
    min-height: 0;
}

.accordion .accordion-item .accordion-item-description-wrapper .accordion-item-description p {
    padding: 10px;
    color: #ccc;
    line-height: 1.5;
}