* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {

    select:focus,
    textarea:focus,
    input:focus {
        font-size: 16px;
    }
}

.chat_wrapp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1E1F23;
    width: 100%;
}

.chat_header {
    min-height: 70px;
    padding: 0 15px;
    justify-content: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 3px solid #666666;

}

.burger {
    display: none;
}

.user_list-header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 3px solid #666666;
    width: 30%;
    padding: 0 15px;
}

.user_list-header-nav>div>span {
    color: #ccc;
    margin: 0 30px;
    font-weight: 700;
}

.user_list-header-nav>div>svg {
    color: #ccc;
}

.user_list-header-nav>div {
    display: flex;
    align-items: center;
}
.chat_header-expert-name{
    display: flex;
    align-items: center;
}
.chat_header-expert-name>div{
    background-color: #2f2f2f;
    padding: 10px;
    border-radius: 15px;
    color: #ccc;
    font-weight: 700;
    margin-left: 30px;
}
@media (max-width: 962px) {
    .chat_header {
        justify-content: start;
    }

    .burger {
        display: flex;
        align-items: center;
    }

    .user_list-header-nav {
        display: none;
    }
}

.chat_window-wrapp {
    height: calc((var(--vh, 1vh) * 100) - 70px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 15px;
}

/* @media (max-width: 962px) {
    .chat_window-wrapp {
        padding: 15px;
    }
} */

.user_list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #666666;
    padding: 15px;
    display: none;
}

.user_list-header>div>span {
    color: #ccc;
    margin-left: 30px;
    font-weight: 700;
}

.user_list-header>div>svg {
    color: #ccc;
}

.user_list-header>div {
    display: flex;
    align-items: center;
}

.chat_user_list {
    width: 30%;
    overflow-y: scroll;
    border-right: 3px solid #666666;
}

.user_list-onBack {
    display: none;
}

.user_list-onBack>svg {
    width: 40px;
    height: 40px;
}

@media (max-width: 962px) {
    .chat_user_list {
        top: 0;
        left: 0;
        height: calc(var(--vh, 1vh) * 100);
        position: absolute;
        width: 19rem;
        border-radius: 0;
        z-index: 777;
        transform: translateX(-20rem);
        transition: all 0.3s;

    }

    .user_list-onBack {
        display: block;

    }

    .user_list-onBack>img {
        width: 25px;
        height: 45px;
        rotate: 180deg;
        cursor: pointer;
    }

    .user_list-header {
        display: flex;
    }
}

.active {
    transform: translateX(0);
    transition: all 0.3s;
    background-color: #1E1F23;
}
.chat_message-window{
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
    margin-bottom: 5px;
    overflow-y: scroll;
    padding: 0 10px 0 15px;
}
@media (max-width: 962px){
    .chat_message-window{
        padding: 0 10px 20px 15px;
    }
}
.chat_view_window {
    width: calc(100% - 30%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: end;
}

@media (max-width: 962px) {
    .chat_view_window {
        width: 100%;
    }
}

.footer {
    min-height: 100px;
    margin: 0 15px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 30px;
    background-color: rgb(120, 120, 120);
}

.test_box {
    background-color: rgb(84 84 84);
    border: 1px solid rgb(255, 255, 255, 0);
    width: 50%;
}

.contact {
    margin: 5px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    flex-shrink: 0;
}

.text_box-wrapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px;
}

.message {
    display: flex;
    align-items: center;
    padding: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    border-radius: 15px;
    word-break: normal;
    color: #ffffff;
}

.my_message {
    margin-left: 50%;
    margin-bottom: 30px;
}

.my_message:empty {
    display: none;
}

.other_message {
    opacity: 0;
    visibility: hidden;
    margin-bottom: 30px;
    position: relative;
}

@media (max-width: 962px) {
    .my_message {
        margin: 0 0 5px;
        background-color: #838383;
    }

    .message {
        width: 100%;
    }
    .other_message{
        margin: 0 0 5px;
    }
}

.btn {
    cursor: pointer;
}

.spin-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    background: #1E1F23;

    .spinner {

        height: 120px;
        width: 120px;
        border: 3px solid transparent;
        border-top-color: #A04668;
        border-radius: 50%;
        animation: spin 2s linear infinite;

        &:before,
        &:after {
            content: '';
            position: absolute;
            border: 3px solid transparent;
            border-radius: 50%;
        }

        &:before {
            border-top-color: #254E70;
            top: -12px;
            left: -12px;
            right: -12px;
            bottom: -12px;
            animation: spin 3s linear infinite;
        }

        &:after {
            border-top-color: #FFFBFE;
            top: 6px;
            left: 6px;
            right: 6px;
            bottom: 6px;
            animation: spin 4s linear infinite;
        }
    }
}

.spin-wrapper>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner-text {
    margin-top: 50px;
    color: #ffffff;
    font-size: 20px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

.show {
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}

.show-block {
    opacity: 1 !important;
}

.chat_typing>p {
    color: #ffffff;
}

#expert_block {
    position: fixed;
    left: calc(50% + 50px);
    top: 30%;
    transition: 2s;
    width: 200px;
    height: 200px;
    opacity: 0;
    color: #FFFBFE;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
@media (max-width: 962px){
    #expert_block{
        left: calc(50% - 100px);
        
    }
    
}
#expert_block>span{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
#expert_block>span:nth-child(2){
    color: #4590cd;
}
.burger>svg {
    width: 32px;
    height: 32px;
}

.img_user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
}

.expert_img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.chat_typing {
    margin-left: 15px;
}

.hamburger .line {
    width: 50px;
    height: 2px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover {
    cursor: pointer;
}


.loading-wave {
    width: 50px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: 0.3s;
    position: absolute
  }
  @media (max-width: 962px){
    .loading-wave{
        left: 50px;
        bottom: 115px;
    }
  }

  .loading-bar {
    width: 5px;
    height: 5px;
    margin: 0 3px;
    background-color: rgba(78, 99, 201, 0.9);
    border-radius: 5px;
    animation: loading-wave-animation 1s ease-in-out infinite;
  }
  
  .loading-bar:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .loading-bar:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  .loading-bar:nth-child(4) {
    animation-delay: 0.3s;
  }
  
  @keyframes loading-wave-animation {
    0% {
      height: 5px;
    }
  
    50% {
      height: 20px;
    }
  
    100% {
      height: 5px;
    }
  }
  